<html>
	<head>
		<title>djangoTutor</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Tutorial</a></h1>
		</div>

		<div>
			<p>published: 28.05.2017, 22:08</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices orci sit amet odio facilisis efficitur. Suspendisse posuere nunc a vulputate pharetra. Praesent venenatis orci non suscipit vestibulum. Integer scelerisque mauris sit amet ultricies mattis. Vivamus maximus pellentesque consequat. Vivamus molestie et nulla eu fermentum. Etiam eu dui non metus pretium interdum. Donec condimentum ipsum et magna porttitor venenatis. Nam semper finibus quam ut ultrices.</p>
		</div>

		<div>
			<p>published: 28.05.2017, 22:11</p>
			<h2><a href="">My second post</a></h2>
			<p>Donec blandit luctus lacus. Aenean molestie tincidunt tellus non vehicula. Nam dolor lacus, tristique a consectetur id, sodales porttitor ligula. Morbi aliquet tincidunt purus, et iaculis mauris accumsan eget. Suspendisse mauris mi, sodales in leo at, vehicula sagittis quam. Duis at velit est. Curabitur eget iaculis turpis. Cras efficitur tellus erat, at vestibulum velit porta et. Vivamus nec diam nunc. Vestibulum varius, lorem et pulvinar pellentesque, lectus enim ultrices mauris, in vestibulum erat erat ut augue. Sed maximus diam ipsum, id lobortis mauris venenatis quis. Donec venenatis aliquet malesuada.</p>
		</div>
	</body>
</html>

